{% extends "layout.html" %}
{% block body %}
<table>
    <tr>
        <th>Name</th><th>Status</th><th>Actions</th>
    </tr>
    {% for m in machines %}
    <tr>
        <td>{{ m.name }}</td>
        <td class="status_{{m.status}}">{{ m.status }}</td>
        <td>
        {% if m.status == "STOPPED" %}
        <div class="action" onclick="if (confirm('Start machine?')) location='./{{m.name}}/start'">Start</div>
        {% else %} 
        <div class="action" onclick="if (confirm('Stop machine?')) location='./{{m.name}}/stop'">Stop</div>
        {% endif %}
        <div class="action" onclick="newname = prompt('Enter clone/backup name:', 'new name'); if (newname) location='./{{m.name}}/clone/'+newname">Clone</div>
        <div class="action" onclick="if (confirm('Delete machine? This might take a while!')) location='./{{m.name}}/delete'">Delete</div>
        </td>
    </tr>
  {% else %}
    <li><em>Unbelievable.  No machine here so far</em>
  {% endfor %}
</table>
{% endblock %}
