{% extends "layout.html" %}
{% block body %}
<table>
    <tr>
        <th>Name</th><th>Status</th><th>Actions</th>
    </tr>
    {% for name, status in machines %}
    <tr>
        <td><a href="./{{ name }}">{{ name }}<a></td>
        <td>{{ status }}</td>
        <td>
        {% if status == "STOPPED" %}
        <a href="./{{name}}/start">Start</a>
        {% else %} 
        <a href="./{{name}}stop">Stop</a> 
        {% endif %}
        <a href="./{{name}}/info">Info</a> 
        </td>
    </tr>
  {% else %}
    <li><em>Unbelievable.  No machine here so far</em>
  {% endfor %}
</table>
{% endblock %}
